<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>

	<!-- Favicon -->
	<link rel="icon" href="img/favicon.png">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">


</head>

<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->


	<!-- Header Area -->
	<header class="header">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-5 col-12">

					</div>
					<div class="col-lg-12 col-md-7 col-12">
						<!-- Top Contact -->
						<ul class="top-contact">
							<li><i class="fa fa-phone"></i>+99866 238-67-26</li>
							<li><i class="fa fa-envelope"></i><a
									href="mailto:support@yourmail.com">support@yourmail.com</a></li>
							<li><i class="fa fa-envelope"></i><a
									href="mailto:support@yourmail.com">support@yourmail.com</a></li>
						</ul>
						<!-- End Top Contact -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-1 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="index.html"><img src="img/sammilogo.png" alt="#"></a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-11 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active"><a href="#">Бош сахифа</a></li>
										<li><a href="#">Клиника </a><i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="kilinika/Raxbariyat.html">Рахбарият</a></li>
												<li><a href="kilinika/Maqsad va vazifa.html">Максад ва вазифалари</a>
												</li>
												<li><a href="index.html">Порядок направление больных</a></li>
												<li><a href="index.html">Тузилма</a></li>
												<li><a href="index.html">Буш иш уринлари</a></li>
												<li><a href="index.html">Матбуот хизмати</a></li>
												<li><a href="index.html">Кадрлар потенцилаи</a></li>
											</ul>
										</li>
										<li><a href="#">Булимлар </a><i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="index.html">Консультатив поликлиника </a></li>
												<li><a href="index.html">Клиник булимлар</a></li>
												<li><a href="index.html">Параклинический булимлар</a></li>
											</ul>
										</li>
										<li><a href="Yangiliklar/Yangiliklar.html">Янгиликлар </a>
										</li>
										<li><a href="#">Хужжатлар </a><i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="index.html">Қонунлар</a></li>
												<li><a href="index.html">Дастурлар</a></li>
												<li><a href="index.html">Лойиҳалар</a></li>
												<li><a href="index.html">Далолатномалар</a></li>
												<li><a href="index.html">Кучини йукотган хужжатлар</a></li>
												<li><a href="index.html">Бланклар</a></li>
												<li><a href="index.html">Меъёрий хужжатлар</a></li>
											</ul>
										</li>
										<li><a href="#">Тақдим этиладиган хизматлар<i
													class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="404.html"></a></li>
												<li><a href="404.html">404 Error</a></li>
											</ul>
										</li>
										<li><a href="#">Тендерлар<i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="blog-single.html">Blog Details</a></li>
											</ul>
										</li>
										<!-- <li><a href="contact.html">Contact Us</a></li> -->
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-list">
                            <li><a href="../index.html">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">foto</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    
      
    <section class="foto-albom">
        <div class="container">
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-footer">
                      <div data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"><img src="img/blog1.jpg" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>O‘zbekiston Respublikasi Tashqi ishlar vazirligi delegatsiyasi Qozog‘iston poytaxti Ostona shahriga tashrif buyurdi</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 ">
                    <img class="img-foto" src="img/blog1.jpg" alt="" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                </div>
                <div class="col-lg-3 col-md-4 col-6" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                    <img class="img-foto" src="img/blog2.jpg" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-6" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                    <img class="img-foto" src="img/blog3.jpg" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-6" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                    <img class="img-foto" src="img/blog1.jpg" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-6" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                    <img src="img/blog1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<div class="single-footer-img">
								<a href="#"><img src="img/sammilogo.png" /></a>
							</div>
							<p>Ўзбекистон Республикаси Соғлиқни сақлаш вазирлиги Самарканд давлат тиббиёт институтининг
								1-клиникаси.</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
									</a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Manzilimiz</h2>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-12">
									<ul>
										<li><i class="fa fa-globe" aria-hidden="true"></i>Самаркандский Государственный
											Медицинский Институт
										</li>
										<li><i class="fa fa-map-marker" aria-hidden="true"></i> Бизнинг манзил 703000.
											Узбекистан Республика, Самарканд шахри, Анкабой кучаси 6
											Душ-Шан: 8:00-17:00
										</li>
										<li><i class="fa fa-phone" aria-hidden="true"></i> Бизнинг телефонлар
											<br /> +99866 238-67-26
										</li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> klinikasammi@mail.ru
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Ish vaqtlarimiz</h2>
							<p>Bizning xafta mobaynidagi kunlik ish vaqtlarimiz</p>
							<ul class="time-sidual">
								<li class="day">Dushanba <span>8.00-17.00</span></li>
								<li class="day">Seshanba <span>8.00-17.00</span></li>
								<li class="day">Chorshanba <span>8.00-17.00</span></li>
								<li class="day">Payshanba <span>8.00-17.00</span></li>
								<li class="day">Juma <span>8.00-17.00</span></li>
								<li class="day">Shanba <span>8.00-14.00</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>biz joylashgan manzil</h2>
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12284.54030078054!2d66.965559!3d39.669176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d18e8e16b371b%3A0x5b47421b540b7ac4!2z0JrQu9C40L3QuNC60LAg0KHQsNC80JzQmA!5e0!3m2!1sru!2sus!4v1719237623097!5m2!1sru!2sus"
								allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2024 | All Rights Reserved by </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->

	<!-- jquery Min JS -->
	<script src="js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Color JS -->
	<script src="js/colors.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Wow JS -->
	<script src="js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
</body>

</html>