{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
	<!-- Breadcrumbs -->
	<div class="breadcrumbs overlay">
		<div class="container">
			<div class="bread-inner">
				<div class="row">
					<div class="col-12">
						<h2>{% blocktrans %}Yangiliklar{% endblocktrans %}</h2>
						<ul class="bread-list">
							<li><a href="{% url "clinic:home" %}">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a></li>
							<li><i class="icofont-simple-right"></i></li>
							<li><a href="{% url "clinic:news_detail" news_item.id %}">{% blocktrans %}Yangiliklar{% endblocktrans %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Start Portfolio Details Area -->
	<section class="pf-details section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="inner-content">
						<div class="image-slider">
							<div class="pf-details-slider">
								<img src="{{ host }}{{ news_item.image }}" alt="#">
								{% for image in images %}
									<img src="{{ host }}{{ image }}" alt="#">
								{% endfor %}
							</div>
						</div>
						<div class="body-text">
							<h3>{{ news_item.title }}</h3>
							<div class="meta d-flex justify-content-between align-items-center py-2">
								<div class="meta-left">
									<span class="date text-muted">
										<i class="fa fa-calendar"></i> {{ news_item.created }}
									</span>
								</div>
								<div class="meta-right">
									<span class="views text-muted">
										<i class="fa fa-eye"></i> {% blocktrans %}Ko'rishlar soni{% endblocktrans %} {{ news_item.viewers }}
									</span>
								</div>
							</div>							
							{{ news_item.content|safe }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio Details Area -->

{% endblock %}